@import url("style-root.css");
.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  justify-items: center;
  width: 100%;
  flex: 1;
}

.catalog-product-card {
  background: var(--color-bg-widget);
  border-radius: var(--border-radius);
  width: 50%;
  height: 70%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 15px;
  transition: 0.5s;
}

.catalog-product-card:hover {
  transform: translateY(-5px);
}

.catalog-product-card-photo {
  width: 70%;
  height: 70%;
}

.catalog-product-card-name {
  color: var(--color-text);
}