@import url("style-root.css");

.section-product_card {
  padding: 15px;
  margin: 5px;
  border-style: solid;
  background: var(--color-bg-widget);
  border-radius: var(--border-radius);
  width: 100%;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
  );
  align-items: start;
  justify-items: center;
  gap: 10px;
}
.product-card {
  width: 90%;
  height: 90%;
  padding: 5px;
  border: 3px solid #333;
  border-radius: var(--border-radius);
  display: grid;
  justify-items: center;
  grid-template-rows: 50% auto auto auto;
  grid-template-areas:
    "photo"
    "name"
    "price"
    "buy";
  gap: 10px;
  background: white;
  transition: 0.5s;
}

.product-card:hover {
  background: var(--color-catalog);
  transform:translateY(-5px);
}

.product-pard-photo {
  border-radius: var(--border-radius);
  grid-area: photo;
  height: 100%;
  width: 50%;
  object-fit: contain;
}

.product-pard-name {
  grid-area: name;
  font-size: 20px;
  color: var(--color-text);
  text-align: center;
}

.product-pard-price {
  grid-area: price;
  font-size: 24px;
  font-weight: 700;
  color: #28a745;
}

.product-pard-button-buy {
  grid-area: buy;
  padding: 12px;
  background: var(--color-button);
  color: var(--color-text);
  border-radius: var(--border-radius);
  font-size: 16px;
  transition: 0.5s;
}

.product-pard-button-buy:hover {
  background: var(--color-button-hover);
  transform: translateY(-2px);
}
