@import url("style-root.css");

.window-product{
    margin: 15px;
    display: flex;
    flex-direction: column;
      align-items: center;
      gap: 10px;

}



.window-product-photo{
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.window-product-span{
    font-size: 3em;
}