@import url("style-root.css");
.catalog {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(300px, (100% - 40px)/3, 100%), 1fr)
  );
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.catalog-product-card {
  background: var(--color-catalog);
  border-radius: var(--border-radius);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.5s;
}

.catalog-product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px var(--box-shadow-catalog);
}

.catalog-product-card-photo {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.catalog-product-card-name {
  color: var(--color-text);
}
