@import url("style-root.css");

.section-product_card {
  padding: 10px;
  margin: 10px;
  border-style: solid;
  background: var(--color-bg-widget);
  border-radius: var(--border-radius);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.product-card {
  width: 80%;
  height: 30%;
  padding: 5px;
  margin: 15px;
  border: 3px solid #333;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: white;
}

.product-pard-photo {
  border-radius: var(--border-radius);
  height: 50%;
  width: 20%;
}

.product-pard-name {
  font-size: 20px;
  color: var(--color-text);
  text-align: center;
}

.product-pard-price {
  font-size: 24px;
  font-weight: 700;
  color: #28a745;
}

.product-pard-button-buy {
  padding: 12px;
  background: var(--color-button);
  color: var(--color-text);
  border-radius: var(--border-radius);
  font-size: 16px;
  transition: 0.5s;
}

.product-pard-button-buy:hover {
  
  background: var(--color-button-hover);
  transform: translateY(-2px);
}
