@import url("style-root.css");

.button-close-login-to-account{
    border-radius: var(--border-radius);
    background: red;
}

.dialog-login-to-account{
    height: 60%;
    width: 60%;
    border-radius: var(--border-radius);
    background: var(--color-bg-widget);
}

.dialog-login-to-account::backdrop{
    backdrop-filter: blur(3px);
}

.register-section,
.login-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}