@import url("style-dialog-login-to-account.css");
@import url("style-product-card.css");
@import url("style-catalog.css");
@import url("style-root.css");

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--color-bg-background);
  color: var(--color-a);
  height: 100vh;

  overflow-y: auto;
}

header {
  color: var(--color-text);
  background: var(--color-bg-widget);
  border-radius: var(--border-radius);
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  overflow-y: auto;
  width: 90%;
  padding: 20px;
  background: var(--color-bg-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}


footer {
  color: var(--color-text);
  background: var(--color-bg-widget);
  border-radius: var(--border-radius);
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section-breadcrumbs {
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-radius: var(--border-radius);
  width: 100%;
}

.button-header {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-radius: var(--border-radius);
  border-width: thin;
  background-color: inherit;
  text-align: center;
}
.button-img-footer,
.button-search,
.button-img-header {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-radius: var(--border-radius);
  border-width: thin;
  padding: 5px;
  margin: 5px;
}

.button-search {
  border: none;
}

.section-search-string {
  height: 30px;
  width: 35%;
  border-style: solid;
  border-radius: var(--border-radius);
  border-width: thin;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  margin: 5px;
}

.search-string {
  flex: 1;
  background-color: inherit;
  border: none;
  font-size: 20px;
}
.search-string:focus {
  outline: none;
}

a {
  color: var(--color-text);
  text-decoration: none;
}
.a-breadcrumb {
  color: var(--color-a);
}

.a-breadcrumb-last {
  color: var(--color-a-now);
}

.button-img-footer:hover,
.button-img-header:hover {
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  background: var(--color-button-hover);
  transform: translateY(-2px);
}

@media (max-width: 480px) {
  header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "back title user"
      "search search search";
    align-items: center;
  }

  .button-back {
    grid-area: back;
    justify-self: start;
  }

  h1 {
    grid-area: title;
    text-align: center;
    justify-self: center;
  }

  .button-img-header {
    grid-area: user;
    justify-self: end;
  }

  .section-search-string {
    grid-area: search;
    width: 90%;
    display: flex;
    gap: 10px;
  }

  .catalog-product-card-photo {
    width: 70%;
    height: 35%;
  }
}

/* Адаптивность для hover эффектов на тач-устройствах */
@media (hover: none) and (pointer: coarse) {
  .catalog-product-card:hover,
  .product-pard-button-buy:hover {
    transform: none;
  }

  .catalog-product-card:active {
    transform: translateY(-5px);
  }

  .product-pard-button-buy:active {
    background: var(--color-button-hover);
    transform: translateY(-2px);
  }
}
