@import url("style-root.css");

.window-product{
    display: flex;
    flex-direction: column;
      align-items: center;
      gap: 10px;

}

.window-product-photo{
    width: 50%;
    height: 50%;
}

.window-product-span{
    font-size: 3em;
}